<form id="appleOrderForm">
    <h2>Apple Purchase Request</h2>
    <div id="flavorsContainer">
        <div class="apple-flavor" data-popularity="10">
            <label for="heath">Heath:</label>
            <input type="number" id="heath" name="heath" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="9">
            <label for="oreo">Oreo:</label>
            <input type="number" id="oreo" name="oreo" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="10">
            <label for="applePie">Apple Pie:</label>
            <input type="number" id="applePie" name="applePie" min="0" value="0">
            <img src="/images/Apple Pictures/applePie.jpg" alt="Carmel Apple Pie">
          </div>
          <div class="apple-flavor" data-popularity="7">
            <label for="tagalong">Tagalong:</label>
            <input type="number" id="tagalong" name="tagalong" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="9">
            <label for="butterfinger">Butterfinger:</label>
            <input type="number" id="butterfinger" name="butterfinger" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="9">
            <label for="Reeses">Reese's:</label>
            <input type="number" id="Reeses" name="Reeses" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="9">
            <label for="candc">Cookies and Cream:</label>
            <input type="number" id="candc" name="candc" min="0" value="0">
            <img src="/images/Apple Pictures/cookiesandCream.jpg" alt="Cookies and Cream">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="sprinkles">Sprinkles:</label>
            <input type="number" id="sprinkles" name="sprinkles" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="thinmint">Thin Mint:</label>
            <input type="number" id="thinmint" name="thinmint" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="potatochip">Potato Chip:</label>
            <input type="number" id="potatochip" name="potatochip" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="peanut">Peanut:</label>
            <input type="number" id="peanut" name="peanut" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="pecan">Pecan:</label>
            <input type="number" id="pecan" name="pecan" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="turtle">Turtle:</label>
            <input type="number" id="turtle" name="turtle" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="7">
            <label for="smores">S'mores:</label>
            <input type="number" id="smores" name="smores" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="minichocolatechips">Mini Chocolate Chips:</label>
            <input type="number" id="minichocolatechips" name="minichocolatechips" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="minimandms">Mini M&Ms:</label>
            <input type="number" id="minimandms" name="minimandms" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="8">
            <label for="pretzel">Pretzel:</label>
            <input type="number" id="pretzel" name="pretzel" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="10">
            <label for="darkchseasalt">Dark Chocolate Sea Salt Caramel:</label>
            <input type="number" id="darkchseasalt" name="darkchseasalt" min="0" value="0">
            <img src="/images/Apple Pictures/darkChocolateSeaSalt.jpg" alt="Dark Chocolate Sea Salt Caramel">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="chchipcookie">Chocolate Chip Cookie:</label>
            <input type="number" id="chchipcookie" name="chchipcookie" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="8">
            <label for="almondjoy">Almond Joy:</label>
            <input type="number" id="almondjoy" name="almondjoy" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="6">
            <label for="mounds">Mounds:</label>
            <input type="number" id="mounds" name="mounds" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="8">
            <label for="pumpkinspice">Pumpkin Spice:</label>
            <input type="number" id="pumpkinspice" name="pumpkinspice" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="8">
            <label for="snickers">Snickers:</label>
            <input type="number" id="snickers" name="snickers" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="strawberrycheesecake">Strawberry Cheesecake:</label>
            <input type="number" id="strawberrycheesecake" name="strawberrycheesecake" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="fruitypebbles">Fruity Pebbles:</label>
            <input type="number" id="fruitypebbles" name="fruitypebbles" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="cinnamontoastcrunch">Cinnamon Toast Crunch:</label>
            <input type="number" id="cinnamontoastcrunch" name="cinnamontoastcrunch" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="popcorn">Popcorn:</label>
            <input type="number" id="popcorn" name="popcorn" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="pinacolada">Pina Colada:</label>
            <input type="number" id="pinacolada" name="pinacolada" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="cinnamonpecan">Cinnamon Pecan:</label>
            <input type="number" id="cinnamonpecan" name="cinnamonpecan" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="bannanapudding">Banana Pudding:</label>
            <input type="number" id="bannanapudding" name="bannanapudding" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="7">
            <label for="candycane">Candy Cane:</label>
            <input type="number" id="candycane" name="candycane" min="0" value="0">
            <img src="/images/Apple Pictures/candyCane.jpg" alt="Candy Cane">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="darkchandbacon">Dark Chocolate and Bacon:</label>
            <input type="number" id="darkchandbacon" name="darkchandbacon" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="coconut">Coconut:</label>
            <input type="number" id="coconut" name="coconut" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="5">
            <label for="circusanimalcrackers">Circus Animal Crackers:</label>
            <input type="number" id="circusanimalcrackers" name="circusanimalcrackers" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
          <div class="apple-flavor" data-popularity="8">
            <label for="samoa">Samoa:</label>
            <input type="number" id="samoa" name="samoa" min="0" value="0">
            <img src="path/to/red-delicious-image.jpg" alt="Red Delicious">
          </div>
    </div>
      
      
    <!-- Add more flavors as needed -->
  
    <button type="button" onclick="calculateOrder()">Request Purchase</button>
  </form>

<script>
    function calculateOrder() {
        // Define an array of apple flavors and their corresponding input element IDs
        var appleFlavors = [
            { name: "Heath", id: "heath" },
            { name: "Oreo", id: "oreo" },
            { name: "Apple Pie", id: "applePie" },
            { name: "Tagalong", id: "tagalong" },
            { name: "Butterfinger", id: "butterfinger" },
            { name: "Reese's", id: "Reeses" },
            { name: "Cookies and Cream", id: "candc" },
            { name: "Sprinkles", id: "sprinkles" },
            { name: "Thin Mint", id: "thinmint" },
            { name: "Potato Chip", id: "potatochip" },
            { name: "Peanut", id: "peanut" },
            { name: "Pecan", id: "pecan" },
            { name: "Turtle", id: "turtle" },
            { name: "S'mores", id: "smores" },
            { name: "Mini Chocolate Chips", id: "minichocolatechips" },
            { name: "Mini M&Ms", id: "minimandms" },
            { name: "Pretzel", id: "pretzel" },
            { name: "Dark Chocolate Sea Salt", id: "darkchseasalt" },
            { name: "Chocolate Chip Cookie", id: "chchipcookie" },
            { name: "Almond Joy", id: "almondjoy" },
            { name: "Mounds", id: "mounds" },
            { name: "Pumpkin Spice", id: "pumpkinspice" },
            { name: "Snickers", id: "snickers" },
            { name: "Strawberry Cheesecake", id: "strawberrycheesecake" },
            { name: "Fruity Pebbles", id: "fruitypebbles" },
            { name: "Cinnamon Toast Crunch", id: "cinnamontoastcrunch" },
            { name: "Popcorn", id: "popcorn" },
            { name: "Pina Colada", id: "pinacolada" },
            { name: "Cinnamon Pecan", id: "cinnamonpecan" },
            { name: "Banana Pudding", id: "bannanapudding" },
            { name: "Candy Cane", id: "candycane" },
            { name: "Dark Chocolate and Bacon", id: "darkchandbacon" },
            { name: "Coconut", id: "coconut" },
            { name: "Circus Animal Crackers", id: "circusanimalcrackers" },
            { name: "Samoa", id: "samoa" }
          ];          
      
        var totalApples = 0;
        var orderDetails = '';
      
        // Loop through the apple flavors array
        appleFlavors.forEach(function(flavor) {
          var quantity = parseInt(document.getElementById(flavor.id).value);
          totalApples += quantity;
        });
      
        var pricePerApple = totalApples >= 25 ? 8 : 10;
        var estimatedPrice = totalApples * pricePerApple;

        appleFlavors.forEach(function(flavor) {
            var quantity = parseInt(document.getElementById(flavor.id).value);
            if (quantity > 0) {
              var cost = quantity * pricePerApple;
              orderDetails += `${flavor.name}: ${quantity} @ $${pricePerApple}/apple = $${cost}\n`;
            }
          });
          
        var shippingRate = 5;
        var estimatedShipping = totalApples * shippingRate;
      
        var emailBody = `Order Details:\n${orderDetails}\nTotal Apples: ${totalApples}\nEstimated Price: $${estimatedPrice}\nEstimated Shipping: $${estimatedShipping}\nTotal Estimated Cost: $${estimatedPrice + estimatedShipping}\n\n** Shipping costs may vary depending on weight, location, etc. **`;
      
        var mailtoLink = `mailto:your_email@example.com?subject=Apple Purchase Request&body=${encodeURIComponent(emailBody)}`;
        window.location.href = mailtoLink;
      }

      function sortByPopularity() {
        var container = document.getElementById('flavorsContainer');
        var appleFlavors = Array.from(container.getElementsByClassName('apple-flavor'));
      
        appleFlavors.sort(function(a, b) {
          return parseInt(b.dataset.popularity) - parseInt(a.dataset.popularity);
        });
      
        appleFlavors.forEach(function(flavor) {
          container.appendChild(flavor);
        });
      }
      
      // Call the sortByPopularity function when the page loads
      window.onload = sortByPopularity;
      
</script>

<style>
    #flavorsContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 flavors per row on larger screens */
        gap: 20px; /* Space between items */
      }
      
      .apple-flavor {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .apple-flavor img {
        width: 100px; /* Adjust image size as needed */
        height: 100px; /* Adjust image size as needed */
        object-fit: cover;
      }
      
      .apple-flavor label,
      .apple-flavor input {
        margin-top: 10px;
      }
      
      /* Responsive adjustments */
      @media (max-width: 768px) {
        #flavorsContainer {
          grid-template-columns: repeat(2, 1fr); /* 2 flavors per row on medium screens */
        }
      }
      
      @media (max-width: 480px) {
        #flavorsContainer {
          grid-template-columns: 1fr; /* 1 flavor per row on small screens */
        }
      }
      
      
</style>